body {
  background-color: rgb(47, 54, 65);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 150px;
  height: 50px;
  margin: 20px;
}

button {
  width: 50px;
  height: 50px;
  background-color: rgb(21,27,32);
  color: white;
  font-size: 30px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  position: absolute;
}

.fa-check-square {
  z-index: -1;
}

span {
  display: inline-flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: 0;
  width: 0;
  color: transparent;
}

button:hover {
  color: red;
}

button:hover + .delete {
  flex-grow: 1;
  width: 100px;
  font-size: 20px;
  transition: 2s;
  color: white;
  background-color: red;
}

button:visited {
  color: green;
}

button:visited > .fa-check-square {
  z-index: 100;
}

button:visited > .fa-trash-alt {
  z-index: -100;
}

button:visited + .sure {
  flex-grow: 1;
  width: 100px;
  font-size: 20px;
  transition: 2s;
  color: white;
  background-color: green;
}

button:visited > .delete {
  z-index: -100;
}

button:visited > .sure {
  z-index: 100;
}
