body{
    background-color:  rgb(235, 235, 235);
}

.login-card {
    width: 25%;
    background-color: #F7F7F7;
    padding: 40px;
    margin: 0 auto 10px;
    border-radius: 2px;

}

.login-card h1 {
    font-weight: 250;
    font-size: 25px;
    color: rgb(84, 84, 84);
}

.login-card input[type=text], input[type=password] {
    height: 44px;
    font-size: 13px;
    width: 90%;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 8px;
    box-sizing: border-box;
}

input[type=text]:focus,input[type=password]:focus, textarea:focus {
    outline: none !important;
    border: 1.5px solid  rgb(124, 197, 178);
  }

.login-card a {
    margin-right: 10%;
    font-size: 7%;
}

.login-card input[type="submit"] {
    border: 0px;
    color: #fff;
    background-color: black;
    border-radius: 24px;
    width: 30%;
    padding:15px;
}

