body{
    background-color:  rgb(235, 235, 235);
}

.signup-card {
    width: 40%;
    background-color: #F7F7F7;
    padding: 40px;
    margin: 0 auto 10px;
    border-radius: 2px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.signup-card h1 {
    font-weight: 345;
    font-size: 35px;
    color: rgb(84, 84, 84);
    padding:0px;
}

.signup-card input[type=text], input[type=password],input[type=email]{
    padding: 8px;
    width: 220px;
    background-color: #F7F7F7;
    font-weight: 400;
    font-size: 18px;
    color: rgb(138,138,138);
    outline: 0;
    border: 0;
    border-bottom: 1px solid rgb(191,191,191);
}

input[type=text]:focus,input[type=password]:focus,input[type=email]:focus, textarea:focus {
    border-bottom: 3px solid  rgb(72, 157, 134);;
  }


.signup {
    background-color: rgb(72, 157, 134);
    color: white;
    padding: 15px;
    width: 60%;
    border-radius: 10px;
    margin-top: 10px;
}

.or {
    border-radius: 30px;
    padding: 10px;
    background: rgb(221, 221, 221);
    color: grey;
    font-size: 20px;
    font-weight: 200;
    margin: 20px;
    margin-bottom: 60px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.facebook, .twitter, .google {
    width: 240px;
    font-size: 15px;
    padding: 10px;
    color: white;
    border-radius: 4px;
}

.facebook {
    background: rgb(53,81,138);
}

.twitter {
    background: rgb(103,172,232);
}

.google {
    background: rgb(206,85,66);
}