body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: darkblue;
  height: 500px;
}

.buttons {
  color: #999;
  border: 0;
  width: 140px;
  height: 60px;
  border-radius: 10px;
  margin: 30px;
  font-size: 20px;
}

.buttons:hover {
  filter: brightness(110%);
}

.buttons:active {
  filter: brightness(90%);
}

.blue {
  background-color: rgb(62,89,147);
  box-shadow: 1px 2px 1px 2px rgb(40, 58, 105);
}

.green {
  background-color: rgb(28,155,68);
  box-shadow: 1px 2px 1px 2px rgb(50, 104, 68);
}

.red {
  background-color: rgb(198,43,36);
  box-shadow: 1px 2px 1px 2px rgb(125, 49, 50);
}

.light {
  background-color: rgb(17,150,231);
  box-shadow: 1px 2px 1px 2px rgb(41, 104, 156);
}

.black {
  background-color: rgb(28,29,31);
  box-shadow: 1px 2px 1px 2px black;
}

.white {
  background-color: rgb(219,223,243);
  box-shadow: 1px 2px 1px 2px rgb(154, 159, 177);
}

